@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-navigation-sides-offset: -10px;
  --swiper-navigation-top-offset: 90%; 
  --swiper-navigation-color: #000000;
  --swiper-theme-color: #000000;
  --swiper-pagination-color: #000000;
  --swiper-pagination-bullet-inactive-color: #000000;
  --swiper-pagination-bottom: 44px;
} 


.dark{
  --background: #0a0a0a;
  --foreground: #fafafa;
  --swiper-navigation-color: #ffffff;
  --swiper-theme-color: #ffffff;
  --swiper-pagination-color: #ffffff;
  --swiper-pagination-bullet-inactive-color: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
.nav-link{
  @apply text-white hover:text-gray-300 transition-colors dark:text-black;
}

.button {
  @apply inline-block border px-6 py-3 rounded-lg font-semibold bg-white text-black hover:text-white hover:bg-black border-white transition-colors duration-300 
  dark:bg-black dark:border-black dark:text-white dark:hover:text-black dark:hover:bg-white;
}
.dark-button{
  @apply inline-block border px-6 py-3 rounded-lg font-semibold bg-black text-white hover:text-black hover:bg-white border-black transition-colors duration-300 
  dark:bg-white dark:border-white dark:text-black dark:hover:text-white dark:hover:bg-black;
}
.content-block{ 
  p{
    @apply mb-4 text-base leading-7 text-zinc-800 dark:text-zinc-200
  }
  h2{
    @apply font-semibold tracking-tight text-zinc-900 dark:text-zinc-50 text-3xl mb-4;
  }
  h3{
    @apply font-semibold tracking-tight text-zinc-900 dark:text-zinc-50 text-2xl mb-4; 
  }
  a{
    @apply underline hover:text-gray-800 dark:hover:text-gray-200 transition-colors;
  }
} 

.mySwiper{
  @apply pb-30!;
  .swiper-slide{
    @apply flex h-auto items-stretch;
  }
  .swiper-button-next, .swiper-button-prev{
   z-index: 11;
  }
}